<table>
<h1>Item</h1>
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th colspan=3>Action</th>
    </thead>
    <tbody>
        <% items.each do |item| %>
            <tr>
                <td><%= item.name%></td>
                <td><%= item.price%></td>
                <td><a href="/item/show/<%= item.id %>">Show</a></td>
                <td><a href="/item/edit/<%= item.id %>">Edit</a></td>
                <td><a href="/item/formdelete/<%= item.id %>">Delete</a></td>
            </tr>
        <% end %>
    <tbody>
</table>
<a href="/items/new">New item</a>
<a href="/categories">List All Categories</a>